.container {
  position: absolute;
  top: 50px;
  left: 60px;
  z-index: 10;
  width: 100%;
  max-width: 416px;
  min-width: 320px;
  min-height: 200px;
  padding: 32px 18px 48px 28px;
  border-radius: 16px;
  background: #fff;
  max-height: 85vh;
  overflow: hidden;
}

.heading {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;

  img {
    width: 102px;
    height: 40px;
  }

  h1 {
    display: inline;
    margin-left: 8px;
    color: var(--accent-cyan, #0af);
  }
}

.controls {
  display: flex;
  flex-flow: column;
  gap: 20px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 70vh;
  padding-right: 4px;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 6px;

    // background-color: #edf1f7;
    background-color: var(--white);
  }

  &::-webkit-scrollbar {
    width: 8px;
    padding-right: 3px;
    margin-right: 3px;
    background-color: #edf1f7;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);

    // background: var(--white);
  }
}

.controls-checkbox {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;

  label {
    color: var(--dark-grey, #6b7683);
  }
}

.controls-radio {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 12px;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  input[type="radio"]:checked + label {
    color: var(--white, #fff);
    background: var(--accent-medium-blue);
  }
}

.controls-way {
  h3 {
    margin-bottom: 8px;
  }
}

.controls-service {
  h3 {
    margin-bottom: 8px;
  }

  .accordeon {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
      position: relative;
      display: flex;
      gap: 3px;
      text-align: left;
      background: none;
      border: none;
      padding: 0;
      outline: inherit;
      cursor: pointer;
      transition: rotate ease-in-out 0.2s;

      svg {
        transition: rotate ease-in-out 0.2s;
      }
    }
  }
}

.active {
  color: var(--accent-medium-blue);

  /* stylelint-disable-next-line no-descending-specificity */
  svg {
    transform: rotate(180deg);

    /* stylelint-disable-next-line no-descending-specificity */
    path {
      fill: var(--accent-medium-blue);
    }
  }
}
