<div class="container">
  <app-search-card
    (changeTransportEvent)="changeTransport($event)"
    (search)="onSearchChanged($event)"></app-search-card>
  <app-point-card (buildRouteEvent)="buildRoute()" *ngIf="false"></app-point-card>
  <div class="map-container" *ngIf="(isLoading | async) === false">
    <ya-map [center]="[55.75, 37.63]">
      <ya-clusterer [options]="clustererOptions">
        <ya-placemark
          *ngFor="let placemark of placemarks"
          (yaclick)="selectPlacemark(placemark)"
          [geometry]="placemark.geometry"
          [properties]="placemark.properties"
          [options]="placemark.options"></ya-placemark>
      </ya-clusterer>
      <div *ngIf="parameters">
        <ya-control type="RoutePanel" [parameters]="parameters"></ya-control>
      </div>
    </ya-map>
  </div>
</div>
